CONFIG_ROBOT_CONTROL_PERIOD_MS=2
CONFIG_ROBOT_USE_ETHERNET=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y

# Increase baud rate for faster flashing
CONFIG_ESPTOOLPY_BAUD=2000000
CONFIG_ESPTOOLPY_MONITOR_BAUD=2000000

# Performance Monitor Configuration
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y

# Log Configuration - Default to WARN to suppress early boot noise
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# Multicast Support for PTP
CONFIG_LWIP_IGMP=y

# FreeRTOS 1000 Hz Tick Rate for Real-Time 500Hz delays
CONFIG_FREERTOS_HZ=1000

# Line Sensor Configuration (Remapped for ESP32-P4-ETH)
CONFIG_LINE_SENSOR_PIN_D1=3
CONFIG_LINE_SENSOR_PIN_D2=4
CONFIG_LINE_SENSOR_PIN_D7=14
CONFIG_LINE_SENSOR_PIN_D8=6
CONFIG_LINE_SENSOR_PIN_IR_EN=5
CONFIG_LINE_SENSOR_PIN_D3=18
CONFIG_LINE_SENSOR_CHAN_D3=2
CONFIG_LINE_SENSOR_PIN_D4=17
CONFIG_LINE_SENSOR_CHAN_D4=1
CONFIG_LINE_SENSOR_PIN_D5=16
CONFIG_LINE_SENSOR_CHAN_D5=0
CONFIG_LINE_SENSOR_PIN_D6=19
CONFIG_LINE_SENSOR_CHAN_D6=3
