CONFIG_ROBOT_CONTROL_PERIOD_MS=2
CONFIG_ROBOT_USE_ETHERNET=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y

# Increase baud rate for faster flashing
CONFIG_ESPTOOLPY_BAUD=2000000
CONFIG_ESPTOOLPY_MONITOR_BAUD=2000000

# Performance Monitor Configuration
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y

# Log Configuration - Default to WARN to suppress early boot noise
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# Multicast Support for PTP
CONFIG_LWIP_IGMP=y

# FreeRTOS 1000 Hz Tick Rate for Real-Time 500Hz delays
CONFIG_FREERTOS_HZ=1000
